<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 콘솔 로그 출력 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level]: [%logger{36}] %msg%n"/>
        </Console>

        <RollingFile name="FileAppender"
                     fileName="logs/latest.log"
                     filePattern="logs/archive/archive-%d{yyyy-MM-dd}-%i.og.zip ">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] [%level]: [%logger{36}] %msg%n</Pattern>
            </PatternLayout>

            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>

            <DefaultRolloverStrategy fileIndex="min" max="30"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- jvm -DLOG_LEVEL=debug 플래그 사용하여 디버그 로그 출력 -->
        <Root level="${sys:LOG_LEVEL:-info}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>